@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: -0.7rem;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
}
/* container */
.container {
  display: flex;
}

/* sidebar */
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #1992d2;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
.sidebar-header i {
  font-size: 35px;
  margin-top: 5px;
}

/* sidebar content */
.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.4rem;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  cursor: pointer;

  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.sidebar-item:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffe066;
  box-shadow: 0 2px 12px 0 rgba(25, 146, 210, 0.15);
  transform: translateX(5px) scale(1.03);
}

/* main */
.main {
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #fffffe;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* main header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.main-header i {
  font-size: 1.2rem;
  margin-top: 5px;
}
/* main header search */
.main-header-search {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 50%;
}
.main-header-search input {
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #e0e8f0;
}

/* main header profile */
.main-header-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-header-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main-header-profile a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main navbar */
.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
}
.main-navbar-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-navbar-profile span {
  font-size: 2rem;
}
.main-navbar-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-navbar-buttons button {
  background-color: #1992d2;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-navbar-buttons button:hover {
  background-color: #f0b429;
  color: #1992d2;
  transform: scale(0.95);
  transition: all 0.2s;
}

/* main content */

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
  margin: 0 -1.5rem -1.5rem -1.5rem;
  background-color: #e0e8f0;
}

.main-content p {
  color: #666;
}

/* main content projects */
.main-content-projects {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
  align-content: start;
}

.main-content-projects h2 {
  grid-column: 1 / -1;
  font-size: 1.3rem;
}

.projects-card {
  background-color: #fff;
  border-left: 8px solid #f0b429;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects-card p {
  font-weight: 400;
}

.projects-card-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
  justify-content: flex-end;
}

.projects-card-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* main content announcements */
.main-content-announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.announcements-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 2.3rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}

/* main content trending */
.main-content-trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.trending-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.trending-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.trending-card p {
  font-size: 0.9rem;
  color: #000;
}

.trending-card p span {
  color: #666;
}
